@import '../../components/Root/common.scss';

.chart {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    padding: 0 10px;
    .title {
        display: flex;
        justify-content: space-around;
        margin: 20px;
        :nth-child(2) {
            color: $text-third-color;
        }
    }
    .selectedProducts {
    }
    .items {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 20px;
        padding-bottom: 10px;
        border-bottom: 1px solid $third-color;
        .item {
            width: 280px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: right;
            p,
            h3 {
                display: flex;
                justify-content: space-between;
            }
        }
        button {
            margin-top: 20px;
            padding: 5px 10px;
            border: none;
            background-color: $second-color;
            color: $text-first-color;
            cursor: pointer;
            transition: 0.3s;
            &:hover {
                background-color: $third-color;
            }
        }
    }
    .summaryInfo {
    }
    .selectedButtons {
        display: flex;
        justify-content: space-around;
        margin: 20px;
        button {
            width: 120px;
            height: 60px;
            padding: 5px 20px;
            border: none;
            font-size: $m-font-size/1.2;
            background-color: $third-color;
            color: black;
            &:hover {
                background-color: $basic-color;
                color: $text-first-color;
            }
        }
    }
    @media screen and (min-width: map-get($breakpoins, xl)) {
        .items {
            flex-direction: row;
            justify-content: space-around;
            .item {
                width: 330px;
                justify-content: flex-start;
                p,
                h3 {
                    margin: auto 5px;
                }
            }
            button {
                margin-top: 0px;
                margin-left: 10px;
            }
        }
        .selectedButtons {
            button {
                width: 220px;
                padding: 20px 20px;
                font-size: $l-font-size;
            }
        }
    }
}
