$basic-color: #11a82a;
$first-color: #3b0918;
$second-color: #b8390e;
$third-color: #d9ab30;
$fourth-color: #00ebeb;

$text-first-color: #fff;
$text-second-color: #000;
$text-third-color: #aaa;

$s-font-size: 14px;
$m-font-size: 18px;
$l-font-size: 20px;
$x-font-size: 24px;

$breakpoins: (
    xs: 320px,
    sm: 480px,
    sl: 640px,
    lm: 800px,
    xl: 1020px,
    xx: 1280px,
);
